<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<h1>This is the about page!</h1>

		<!-- Inject ruby code - Type $ rake routes -->
		<!-- Putting the = will render the ruby code -->
		<%= link_to 'Home', welcome_home_path %>
	</body>
</html>