<!DOCTYPE html>
<html>
	
	<head>
		<title>Home</title>
	</head>
	
	<body>
		<h1>Welcome to my first Ruby on Rails project!</h1>
		<p>Well isn't this exciting!</p>

		<!-- Inject ruby code - Type $ rake routes -->
		<!-- Putting the = will render the ruby code -->
		<%= link_to 'About', welcome_about_path %>
	</body>

</html>